# Created by https://www.gitignore.io/api/osx,windows,linux,node,bower,appcode,webstorm,intellij,visualstudiocode,visualstudio

### OSX ###
.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

*.log
*.log.*
npm-debug.log*

.idea/

node_modules/

client/React/public/js
client/React/public/index.html
client/React/public/img/*/
client/React/public/css

client/ReactV1/public/

/.vscode/
/docker/mysql/*
